[submodule "bin2c"]
	path = bin2c
	url = https://github.com/marcov/bin2c.git
[submodule "esp-libs"]
	path = esp-libs
	url = git@github.com:marcov/esp-libs.git
[submodule "src/esp-libs"]
	path = src/esp-libs
	url = git@github.com:marcov/esp-libs.git
[submodule "esp-scripts"]
	path = esp-scripts
	url = git@github.com:marcov/esp-scripts.git
